.copyright {
  text-align: center;
  padding: 15px;
  background-color: darkslategrey;
  color: rgb(220, 240, 240);
  font-family: "Times New Roman", Times, serif;
  font-style: initial;
  font-size: 13px;
}
